.left_product_box {
    display: flex;
    height: 80vh;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.left_image_box {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.left_image_box img{
    background-color: rgba(255, 255, 255, 0.952);
    height: 130px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.rigth_image_box{
    width: 100%;
    height: 100%;
}

.rigth_image_box img{
    background-color: rgba(255, 255, 255, 0.945);
    width: 100%;
    border-radius: 10px;
    height: 100%;

}
.details p{
    color: rgba(255, 255, 255, 0.747);
    font-weight: 400;
}

.Buttons_Box_Item {
    display: flex;
    gap: 10px;
    height: 45px;
}

.Buttons_Box_Item .Addcart {
    width: 100%;
    height: 100%;
}

.Buttons_Box_Item .Addcart button {
    border-radius: 8px;
    height: 100%;
    background-color: rgba(209, 199, 199, 0.808);
    color: black;
    width: 100%;
}
.details .rate{
    color: rgba(255, 166, 0, 0.842);
    font-weight: 600;
}