.image_Item_box {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: brown;
}

.image_Item_box img {
    width: 100%;
    height: 250px;
    transition: 0.5s;
}
.image_Item_box img:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.Product .CartItem{
    display: flex;
    height: 220px;
    flex-direction: column;
    justify-content: space-between;
}
.Product div p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Buttons_Box {
    display: flex;
    gap: 10px;
    height: 40px;
}

.Buttons_Box .Addcart {
    width: 100%;
    height: 100%;
}

.Buttons_Box .Addcart button {
    border-radius: 8px;
    height: 100%;
    background-color: rgba(209, 199, 199, 0.808);
    color: black;
    width: 100%;
}

.Buttons_Box .AddLike {
    width: 50px;
    height: 100%;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(209, 199, 199, 0.808);
}