.NavBar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar_Logo {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 180px;
}

.NavBar_Logo img{
    width: 100%;
    height: 100%;
}
.NavBar_icons{
    display: flex;
    gap: 20px;
    color: White;
}